<style>
  .c-default {
    margin: 0 auto;
  }

  .c-default .c-default__header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  .c-default__footer {
    margin-top: var(--cfpf-spacer-12);
  }
</style>

<div class="c-default">
  <header class="c-defult__header">header</header>
  <!-- <CfpfHeader class="c-default__header" /> -->
  <main class="c-default__main">
    content
    <!-- <slot /> -->
  </main>
  <!-- <CfpfFooter class="c-default__footer" /> -->
  <footer class="c-default__footer">footer</footer>
</div>

<router-outlet />
